---
// src/pages/about.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import photo1 from '../assets/lizzie.jpg';
import photo2 from '../assets/zeus.jpg';
---

<style>
  main {
    font-size: 20px;
    line-height: 2;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  figure {
    flex: 1;
    min-width: 250px; /* Reducimos el min-width para Zeus */
    max-width: calc(45% - 20px); /* Ajustamos el max-width para Zeus */
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figcaption {
    font-style: italic;
    font-size: 0.9em;
    color: #666;
    text-align: center;
  }
</style>


<BaseLayout title="About">
  <main>
    <h1 class="text-black dark:text-white pb-10 text-4xl">About Me</h1>
    <p>Welcome to my blog! I'm Wilmar Sepulveda Herera, a statistician with experience in R, Python, Git, Docker, and AWS. As an enthusiastic learner, I am passionate about MLOPS, data engineering, and research.</p>
    
    <p>
    I am from

    <a href="https://es.wikipedia.org/wiki/Jamund%C3%AD" target="_blank" rel="noopener noreferrer">
      Jamundi - Valle
    </a>
    and currently live on   <a href="https://es.wikipedia.org/wiki/Manizales" target="_blank" rel="noopener noreferrer">
      Manizales - Caldas
    </a>
    with my awesome girlfriend <a href="https://www.linkedin.com/in/mayra-alejandra-mej%C3%ADa-mart%C3%ADnez-3abb81178/" target="_blank" rel="noopener noreferrer">
      Mayra.
    </p>
    <p>
     I start to study Statistics in 2011 in the Universidad del Valle and get my undergraduate degree en 2017. Then in 2020 I started  my
     master´s degree in Statistics, which I finished in 2023.
    </p>
    <p>
      I have worked in different comapnies (Universidad del Valle, Banco de Occidente and Excelcredit) as Data Scientist.
      Currently I am the printipal Data Scientist at  <a href="https://www.grupor5.com" target="_blank" rel="noopener noreferrer">
        R5
      </a>
      where I lead a team an build different machine learning algorithms for de insurance sector. <p>

      </p>
    </p>
    <p>
      <section class="mb-8">

    <h1 class="text-black dark:text-white pb-10 text-4xl">My pets</h1>
        <div class="grid grid-cols-2 gap-4">
          <figure>
            <Image src={photo1} alt="Zeus" />
            <figcaption>Zeus 4 años</figcaption>
          </figure>
          <figure>
            <Image src={photo2} alt="Lizzie" />
            <figcaption>Lizzie 11 años</figcaption>
          </figure>
        </div>
      </section>  
    </p>
    
    </div>
  </main>
</BaseLayout>


