---
// src/pages/about.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---


<BaseLayout title="About">
  <main>
    <h1 class="text-black dark:text-white pb-10 text-4xl">About Me</h1>
    <p>Welcome to my blog! I'm Wilmar Sepulveda Herera, a statistician with experience in R, Python, Git, Docker, and AWS. As an enthusiastic learner, I am passionate about MLOPS, data engineering, and research.</p>
    I am from
    <a href="https://es.wikipedia.org/wiki/Jamund%C3%AD" target="_blank" rel="noopener noreferrer">
      Jamundi - Valle
    </a>
    and currently living on Manizales
    </div>
  </main>
</BaseLayout>


